.calc-button {
    text-align: center;
    height: 70px;
    font-size: 22px;
    text-transform: none;
}

#calculator {
    background-color: #74c1fc;
    max-width: 480px;
    margin: 30px auto;
    padding: 40px;
}

#display {
    resize: none;
    font-size: 22px;
    color: black;
    background-color: #74c1fc;
    border: solid 1px #4f94c9;
}

.dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
}

.dropdown .btn {
    padding: 18px 0;
}
.dropdown {
    padding: 0;
    width: 100%;
}


